<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
  <nav class="navbar">

    <div class="nav-section">
      <img th:src="@{/images/logoWithText.png}" alt="Logo" class="navbar-logo">
    </div>

    <div class="nav-section">
      <a th:if="${session.user != null and session.user.role.name == 'Project Manager'}"
         th:href="@{/projects/all}">PROJECTS</a>
      <a th:if="${session.user != null and session.user.role.name != 'Project Manager'}"
         th:href="@{/projects/my-projects}">PROJECTS</a>
    </div>

    <div class="nav-section">
    <a th:if="${session.user != null and session.user.role.name == 'Project Manager'}"
       th:href="@{/projects/{projectId}/subprojects/{subprojectId}/tasks/globalTasks(
              projectId=${1}, subprojectId=${1})}">
      TASKS
    </a>
    </div>


    <div class="nav-section">
      <a th:if="${session.user != null}"
         th:href="@{/{id}/user(id=${session.user.userID})}">USERPAGE</a>
    </div>

    <div class="nav-section">
      <a th:if="${session.user != null}" th:href="@{/logout}">LOG OUT</a>
    </div>
  </nav>
</div>
</body>
</html>
