<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:unless="${loggedIn}">Please Log In</title>
    <title th:if="${loggedIn}" >Your Projects</title>
    <link rel="stylesheet" th:href="@{/css/layoutStyling.css}">
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
</head>

<body class="page-container font_style">

<div th:replace="~{fragments/navbar :: navbar}"></div>


    <h1 th:if="${loggedIn}" th:text="'Hello, ' + ${username} + ', here are the projects you are part of:'" class="profile_title flex-center normalized_padding"></h1>
    <h1 th:unless="${loggedIn}" class="profile_title flex-center normalized_padding">Please log in to see your projects</h1>

<div class="flex-row flex-center normalized_padding">
    <form th:action="@{/projects/new}"
          method="get" th:if="${ProjectManager}">
        <button>Create</button>
    </form>
</div>

<div class="dark_frame normalized_padding" th:if="${loggedIn}">
    <table class="task-table">
        <thead>
        <tr>
            <th class="title">Name</th>
            <th class="title">Status</th>
            <th class="title">Description</th>
            <th class="title">Time used</th>
            <th class="title">Time Budget</th>
            <th class="title">Deadline</th>
            <th class="title">% Complete</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="project : ${projects}"
            th:onclick="'window.location.href=\'/projects/' + ${project.id} + '/subprojects/all\''"
            class="table_row clickable-row">

        <td th:text="${project.name}">Project Name</td>
            <td th:classappend="${project.completed ? ' status-green' : ' status-yellow'}">
                <div th:text="${project.completed ? 'Completed' : 'In Progress'}"
                     class="status_indicator"
                >
                </div>
            </td>
            <td th:text="${project.description}">Project Description</td>
            <td th:text="${project.timeTaken}">Time used</td>
            <td th:text="${project.timeBudget}">Time Budget</td>
            <td th:text="${#temporals.format(project.deadline, 'dd-MM-yyyy')}">YYYY-MM-DD</td>
            <td th:text="${project.completionPercentage}">% Complete</td>
            <td>
                <form th:action="@{/projects/{projectId}/edit(projectId=${project.id})}" method="get" style="display:inline-block">
                    <button type="submit" th:if="${ProjectManager}">Edit</button>
                </form>
                <form th:action="@{/projects/{projectId}/delete(projectId=${project.id})}" method="post" style="display:inline-block"
                      onsubmit="return confirm('Are you sure you want to delete this subproject?');"
                      onclick="event.stopPropagation()">
                    <input type="hidden" name="id" th:value="${project.id}">
                    <button type="submit" th:if="${ProjectManager}">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>