<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update your project!</title>
</head>
<body>
    <main th:if="${allowAccess}">
        <h1>Update your project information:</h1>
        <form method="post" th:action="@{/projects/update}" th:object="${project}">
            <input hidden type="number" th:field="*{id}">
            <label>Project Name:</label>
            <input type="text" th:field="*{name}" required>
            <label>Description:</label>
            <textarea type="text" th:field="*{description}"></textarea>
            <label>Time Budget:</label>
            <input type="number" th:field="*{timeBudget}" required step="0.1">
            <label>Deadline:</label>
            <input type="date" th:field="*{deadline}" required>
            <button type="submit">Submit</button>

        </form>
    </main>
<main th:unless="${allowAccess}">
    <h1>You can only update a project when logged in as a project manager.</h1>
</main>



</body>
</html>