<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create your project!</title>
</head>
<body>
<main th:if="${allowAccess}">
    <h1>Enter your project information please</h1>
    <form role="form" action="#" method="post" th:action="@{/projects/create-project}" th:object="${project}">
        <input hidden type="number" th:field="*{id}">
        <label>Project Name:</label>
        <input type="text" th:field="*{name}">
        <label>Description:</label>
        <textarea type="text" th:field="*{description}"></textarea>
        <label>Time Budget:</label>
        <input type="number" th:field="*{timeBudget}">
        <label>Deadline:</label>
        <input type="date" th:field="*{deadline}">
        <button type="submit">Submit</button>

    </form>
</main>
<main th:unless="${allowAccess}">
    <h1>You can only create a project if you are logged in as a project manager</h1>
</main>

</body>
</html>