<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:unless="${loggedIn}">Please Log In</title>
    <title th:if="${loggedIn}" >Your Projects</title>
</head>
<body>
    <h1 th:if="${loggedIn}" th:text="'Hello, ' + ${username} + ', here are the projects you are part of:'"></h1>
    <h1 th:unless="${loggedIn}">Please log in to see your projects</h1>
    <table th:if="${loggedIn}">
        <tr th:each="project :${projects}" >
            <th th:text="${project.name}"></th>
            <th th:text="${project.description}"></th>
            <th th:text="${project.timeBudget}"></th>
            <th th:text="${project.deadline}"></th>
            <th>
                <form th:object="${project}" th:action="@{/projects/{projectID}/update-form(projectID=${project.id})}"
                      method="get">
                    <button type="submit">Edit Project</button>
                </form>
                <form role="form" method="post" th:action="@{/projects/delete-project}" th:object="${project}">
                    <input type="number" name="id" th:value="${project.id}" hidden readonly>
                    <button type="submit">DELETE PROJECT</button>
                </form>
            </th>
        </tr>

    </table>

</body>
</html>