<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger Subprojekt</title>
</head>
<body>
<h1 th:unless="${allowAccess}">Access Denied! Wrong user</h1>
<div th:if="${allowAccess}">

    <div th:replace="~{fragments/navbar :: navbar}"></div>


    <div>
        <h1>Edit Subprojekt</h1>
    </div>
    <div>
        <div>
            <form method="post" th:action="@{/projects/{projectId}/subprojects/update(projectId=${project.id})}"
                  th:object="${subproject}">
                <input type="number" th:field="*{id}" readonly hidden>
                <input hidden readonly type="number" th:field="*{projectID}" required>

                <label>Name:</label>
                <input type="text" th:field="*{name}"/>

                <br>
                <label>Description:</label>
                <textarea rows="3" cols="20" th:field="*{description}"></textarea>

                <br>
                <label>Time budget:</label>
                <input type="text" th:field="*{timeBudget}" placeholder="0.0" required step="0.1"/>

                <label>Time used:</label>

                <label>Completed:</label>
                <input type="checkbox" th:field="*{completed}">
        </div>
        <div class="button-container">
            <button type="submit">Update</button>
        </div>
        </form>
    </div>
</div>

</body>
</html>