<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View SubProjects</title>
</head>
<body>
<h1 th:text="'Project: ' + ${project.name}"></h1>

<form th:action="@{/projects/{projectId}/subprojects/new(projectId=${project.id})}"
method="get">
    <button>Opret</button>
</form>
<form th:action="@{/projects/all}"
      method="get">
    <button type="submit">Tilbage til projekter</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Navn</th>
        <th scope="col">Beskrivelse</th>
        <th scope="col">BrugtTid</th>
        <th scope="col">TidsBudget</th>
        <th scope="col">Fuldført</th>
        <th scope="col">% Færdig</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subproject: ${subprojects}">
        <td>
            <a th:href="@{/projects/{projectId}/subprojects/{subprojectId}/tasks/all(projectId=${project.id}, subprojectId=${subproject.id})}"
               th:text="${subproject.name}"></a>
        </td>
        <td th:text="${subproject.description}"></td>
        <td th:text="${subproject.timeTaken}"></td>
        <td th:text="${subproject.timeBudget}"></td>
        <td th:text="${subproject.completed}"></td>
        <td th:text="${#numbers.formatDecimal(subproject.completionPercentage, 0, 2)} + '%'"></td>

        <td>
            <form th:action="@{/projects/{projectId}/subprojects/{subprojectid}/edit(projectId=${project.id}, subprojectid=${subproject.id})}"
            method="get">
                <button type="submit">Opdater</button>
            </form>
        </td>
        <td>
            <form th:action="@{/projects/{projectId}/subprojects/{subprojectId}/delete(projectId=${project.id}, subprojectId=${subproject.id})}" method="post"
                  onsubmit="return confirm('Er du sikker på, at du vil slette kategorien?');">
                <button type="submit">Slet</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>