<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layoutStyling.css}">
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <title>Rediger Subprojekt</title>
</head>
<body class="index_body page-container">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

<div class="page-main">
    <div class="flex-center flex-column flex-grow">
        <h2 class="title">
            Edit Subproject: <span th:text="*{subproject.name}">[Name]</span>
        </h2>

        <div class="frame">
            <form method="post"
                  th:action="@{/projects/{projectId}/subprojects/update(projectId=${subproject.getProjectID()})}"
                  th:object="${subproject}">

                <!-- Hidden fields -->
                <input type="number" th:field="*{id}" hidden readonly/>
                <input type="number" th:field="*{projectID}" hidden readonly/>

                <!-- Editable fields -->
                <label for="name">Name:</label>
                <input type="text" id="name" th:field="*{name}" placeholder="Subprojekt Name" th:readonly="${!ProjectManager}" required/><br>

                <label for="description">Description:</label>
                <textarea id="description" th:field="*{description}" rows="4" placeholder="Description" th:readonly="${!ProjectManager}"></textarea><br>

                <label for="timeBudget">Time budget:</label>
                <input type="number" id="timeBudget" th:field="*{timeBudget}" placeholder="0.0" required step="0.1" th:readonly="${!ProjectManager}"/><br>

               <label for="completed">Completed:</label>
                <input type="checkbox" id="completed" th:field="*{completed}" th:disabled="${!ProjectManager}"/><br>

                <!--<fieldset class="radio-group" th:disabled="${!ProjectManager}">
                    <legend>Assignment status</legend>
                    <label for="yes">Done</label>
                    <input type="radio" id="yes" name="completed" th:field="*{completed}" value="true"/>

                    <label for="no">Not done</label>
                    <input type="radio" id="no" name="completed" th:field="*{completed}" value="false"/>
                </fieldset>-->

                <div class="button-container">
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
