<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add task</title>
</head>
<body>

<p th:if="${error}" th:text="${error}"></p>
<form th:action="@{/tasks/create}" th:method="post" th:object="${task}">
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" required placeholder="Navn"
           th:field="*{name}"/> <br>

    <label for="description">Beskrivelse:</label>
    <textarea type="text" id="description" name="description" required placeholder="Beskrivelse"
              rows="4" cols="50"
              th:field="*{description}"></textarea> <br>

    <!-- step allow you to add decimal numbers -->
    <label for="timeBudget">Tidsallokering:</label>
    <input type="number" id="timeBudget" name="timeBudget" required
           step="0.01"
           th:field="*{timeBudget}"/> <br>

    <!-- step allow you to add decimal numbers -->
    <label for="timeTaken">Faktiske tid:</label>
    <input type="number" id="timeTaken" name="timeTaken" step="0.01"
           th:field="*{timeTaken}"/> <br>

    <fieldset>
        <legend>Opgave status</legend>

        <label for="yes">Færdig</label>
        <input type="radio" id="yes" name="completed"
               th:field="*{completed}" value="true"/>

        <label for="no">Ikke færdig</label>
        <input type="radio" id="no" name="completed"
               th:field="*{completed}" value="false"/>
    </fieldset>

    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" name="deadline" placeholder="YYYY-MM-DD"
           th:field="*{deadline}"/> <br>

    <label for="subproject">project kategori</label>
    <select name="subproject" id="subproject" th:field="*{subProject.id}" required>
        <option value="0" selected>Vælg en kategori</option>
        <option th:each="subproject : ${subprojects}"
                th:value="${subproject.id}"
                th:text="${subproject.name}">
        </option>
    </select><br>

    <fieldset>
        <legend>Vælg brugere</legend>
        <div th:each="user : ${users}">
            <label>
                <input type="checkbox"
                       th:value="${user.userID}"
                       th:field="*{users}" />
                <span th:text="${user.name}"></span>
            </label><br>
        </div>
    </fieldset>


    <button type="submit">Opdater</button>
</form>

</body>
</html>