<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selected Task</title>
</head>
<body>
<form th:action="" th:method="post" th:object="${task}">
    <input type="text" hidden name="id"
           th:value="${task.id}"
           th:field="*{id}"/>

    <label for="name">Navn:</label>
    <input type="text" id="name" name="name"
           th:value="${task.name}"
           th:field="*{name}"/>

    <label for="description">Beskrivelse:</label>
    <input type="text" id="description" name="description"
           th:value="${task.description}"
           th:field="*{description}"/>

    <label for="timeBudget">Tidsallokering:</label>
    <input type="text" id="timeBudget" name="timeBudget"
           th:value="${task.timeBudget}"
           th:field="*{timeBudget}"/>

    <label for="timeTaken">Faktiske tid:</label>
    <input type="text" id="timeTaken" name="timeTaken"
           th:value="${task.timeTaken}"
           th:field="*{timeTaken}"/>

    <fieldset>
        <legend>Opgave status</legend>
        <input type="radio" th:field="*{completed}" th:if="${task.completed} == true selected" name="status" id="yes">
        <label for="yes">Færdig</label>
        <input type="radio" th:field="*{completed}" th:if="${task.completed} == false selected" name="status" id="no">
        <label for="no">Færdig</label>
    </fieldset>

    <label for="subProject">Tilhørende underopgave:</label>
    <input type="text" id="subProject" name="subProject"
           th:value="${task.subProject}"
           th:field="*{subProject}"/>

    <label for="users">Tildelt:</label>
    <ul name="users" id="users">
        <li th:each="user : ${task.users}" th:text="${user.name}"></li>
    </ul>


    <button type="submit">Opdater</button>
</form>
</body>
</html>