<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selected Task</title>
</head>
<body>
<p th:if="${error}" th:text="${error}"></p>
<form th:action="@{/tasks/update}" th:method="post" th:object="${task}">
    <input type="text" hidden name="id"
           th:field="*{id}"/> <br>

    <label for="name">*Navn:</label><br>
    <input type="text" id="name" name="name"
           th:field="*{name}"/> <br>

    <label for="description">*Beskrivelse:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"
              th:field="*{description}"></textarea> <br>

    <label for="timeBudget">*Tidsallokering:</label><br>
    <input type="number" id="timeBudget" name="timeBudget" step="0.1" min="0.1"
           th:field="*{timeBudget}"/> <br>

    <label for="timeTaken">Faktiske tid:</label><br>
    <input type="number" id="timeTaken" name="timeTaken" step="0.1"
           th:field="*{timeTaken}"/> <br>

    <fieldset>
        <legend>Opgave status</legend>

        <label for="yes">Færdig</label>
        <input type="radio" id="yes" name="completed"
               th:field="*{completed}" value="true"/>

        <label for="no">Ikke færdig</label>
        <input type="radio" id="no" name="completed"
               th:field="*{completed}" value="false"/>
    </fieldset>

    <label for="deadline">Deadline:</label><br>
    <input type="date" id="deadline" name="deadline"
           th:field="*{deadline}"/> <br>

    <label for="subproject">*Project kategori:</label><br>
    <select name="subproject" id="subproject" th:field="*{subProject.id}" required>
        <option th:each="subproject : ${subprojects}"
                th:value="${subproject.id}"
                th:text="${subproject.name}">
        </option>
    </select><br>

    <fieldset>
        <legend>Vælg brugere:</legend>
        <br>
        <div th:each="user : ${users}">
            <label>
                <input type="checkbox" name="userIds"
                       th:checked="${task.users != null and task.users.contains(user)}"
                       th:value="${user.userID}"/>
                <span th:text="${user.name}"></span>
            </label><br>
        </div>
    </fieldset>


    <button type="submit">Opdater</button>
</form>
</body>
</html>