<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layoutStyling.css}">
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
</head>

<body class="index_body page-container">



<div class="page-main">
    <div class="flex-center flex-column flex-grow">

        <div class="logo_container">
            <img th:src="@{/images/Logo.png}" alt="alphaSolutionsLogo" >
        </div>

            <form th:action="@{/login}" method="post">


                <p th:if="${wrongCredentials}" class="error">Wrong password or email</p>

                <div>
                    <input id="EMAIL" name="email" type="text" placeholder="Email" required>
                </div>

                <div>
                    <input id="PASSWORD" name="password" type="password" placeholder="Password" required>
                </div>

                <div class = "flex-row flex-center">
                    <div class = "button-container">
                    <button type="submit">Login</button>
                    </div>
                    <div class = "button-container">
                    <a th:href="@{'/'}">
                        <button type="button">Cancel</button>
                    </a>
                    </div>
                </div>
            </form>
        </div>
    </div>


<div class="page-footer"></div>

</body>
</html>