<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" th:href="@{/css/layoutStyling.css}">
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
</head>
<body class="page-container font_style">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="flex-row flex-center dark_frame">
    <div th:text="${user.name}" class="profile_title"> Name</div>
    <div th:text="${user.email}" class="title">Email</div>
    <div th:text="${user.role}" class="title"> Role</div>

    <img th:src="@{/images/{pic}(pic=${user.picture})}" alt="Profile picture" class="profile_picture">
</div>




<div th:if="${user.tasks == null or user.tasks.isEmpty()}">
    <p>No tasks currently waiting for you!</p>
</div>
<div class="flex-row flex-center">
<div th:if="${user.tasks != null and !user.tasks.isEmpty()}" class="dark_frame">
    <h2>Your Tasks</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Time Budget (hrs)</th>
            <th>Time Taken (hrs)</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Subproject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${user.tasks}" class="table_row">
            <td th:text="${task.name}">Task Name</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${task.priorityLevel}">Priority</td>
            <td th:text="${task.timeBudget}">0</td>
            <td th:text="${task.timeTaken}">0</td>
            <td th:text="${task.deadline}">YYYY-MM-DD</td>
            <td th:text="${task.completed ? 'Completed' : 'In Progress'}">Status</td>
            <td th:text="${task.subProject.name}">Subproject Name</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${user.projects != null and !user.projects.isEmpty()}" class="dark_frame">
    <h2>Your Projects</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Time Budget (hrs)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${user.projects}">
            <td>
                <a th:href="@{/{id}/subprojects(id=${project.id})}" th:text="${project.name}">Project Name</a>
            </td>
            <td th:text="${project.description}">Description</td>
            <td th:text="${project.deadline}">YYYY-MM-DD</td>
        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>
