<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <title>User Page</title>
    <link rel="stylesheet" th:href="@{/css/layoutStyling.css}">
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
</head>
<body class="page-container font_style">

<a class="flex-center normalized_padding" th:if="${user.role.name == 'Admin'}">
    <button type="button"  onclick="history.back()">Back</button>
</a>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="flex-row flex-center   profile-Banner normalized_padding">
    <div th:text="${user.name}" class="profile_title huge_text nav-section"> Name</div>
    <div th:text="${user.email}" class="title nav-section">Email</div>
    <div th:text="${user.role}" class="title nav-section"> Role</div>

    <img th:src="@{/images/{pic}(pic=${user.picture})}" alt="Profile picture" class="profile_picture">
</div>


<div class="dashboard-wrapper flex-grow">
    <div class="dashboard-left dark_frame normalized_padding ">

        <div class="flex-center profile_title">
            <div th:if="${user.tasks == null or user.tasks.isEmpty()}">
                <p>No tasks currently waiting for you!</p>
            </div>
        </div>

        <div th:if="${user.tasks != null and !user.tasks.isEmpty()}">
            <div>
                <h2 class="profile_title">Your Tasks</h2>
            </div>
            <table class="task-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Time Budget (hrs)</th>
                    <th>Deadline</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                <div th:if="${session.user != null and session.user.role.name != 'Admin'}">
                    <tr th:each="task : ${user.tasks}"
                        th:onclick="'window.location.href=\'/projects/' + ${task.subProject.projectID} + '/subprojects/' + ${task.subProject.id} + '/tasks/' + ${task.id} + '/edit\''"
                        class="table_row clickable-row">


                        <td th:text="${task.name}" class="task_label">Task Name</td>
                        <td th:classappend="'priority-' + ${task.priorityLevel.displayName}">
                            <div th:text="${task.priorityLevel}" class="priority-bar"
                            >Priority
                            </div>
                        </td>
                        <td th:text="${task.timeBudget}">0</td>
                        <td th:text="${#temporals.format(task.deadline, 'dd-MM-yyyy')}">YYYY-MM-DD</td>
                        <td th:classappend="${task.completed} ? 'status-green' : 'status-yellow'">
                            <div th:text="${task.completed ? 'Completed' : 'In Progress'}" class="status_indicator"
                            >Status
                            </div>
                        </td>
                    </tr>
                </div>
                <div th:if="${session.user != null and session.user.role.name == 'Admin'}">
                    <tr th:each="task : ${user.tasks}"
                        class="table_row clickable-row">


                        <td th:text="${task.name}" class="task_label">Task Name</td>
                        <td th:classappend="'priority-' + ${task.priorityLevel.displayName}">
                            <div th:text="${task.priorityLevel}" class="priority-bar"
                            >Priority
                            </div>
                        </td>
                        <td th:text="${task.timeBudget}">0</td>
                        <td th:text="${#temporals.format(task.deadline, 'dd-MM-yyyy')}">YYYY-MM-DD</td>
                        <td th:classappend="${task.completed} ? 'status-green' : 'status-yellow'">
                            <div th:text="${task.completed ? 'Completed' : 'In Progress'}" class="status_indicator"
                            >Status
                            </div>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard-right flex-grow dark_frame normalized_padding">
        <div th:if="${user.projects != null and !user.projects.isEmpty()}">
            <h2 class="profile_title">Your Projects</h2>
            <table class="task-table">
                <thead>
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${user.projects}">
                    <td class="table_row">

                        <div th:text="${project.name}"
                           class="project-button" th:if="${session.user != null and session.user.role.name == 'Admin'}">
                        </div>

                        <a th:href="@{/projects/{id}/subprojects/all(id=${project.id})}"
                           th:text="${project.name}"
                           class="project-button" th:if="${session.user != null and session.user.role.name != 'Admin'}">
                        </a>

                    </td>
                    ...
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
