<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layoutStyling.css}">
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <title>user form</title>
</head>

<body class="index_body page-container">



<div class="page-main">
    <div class="flex-center flex-column flex-grow">
    <h2 class = "title">USER FORM</h2>



        <!-- This form sends to different endpoints, depending on the URL it is viewed through -->
        <!-- it basically says, if userID is not null, then post to the Update endpoint, otherwise Create -->
        <div class="frame">
            <form th:action="@{${user != null and user.userID != null and user.userID > 0} ? '/' + ${user.userID} + '/update' : '/user/create'}"
                  th:object="${user}"
                  method="post">

                <input type="hidden" th:field="*{userID}"/>

                <label for="name">Name:</label>
                <input type="text" id="name" th:field="*{name}" placeholder="Name" required/><br>

                <p th:if="${emailTaken}" style="color:red;">This email is already in use.</p>
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" placeholder="Email" required/><br>

                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Password" required/><br>

                <label for="picture">Picture:</label>
                <input type="text" id="picture" th:field="*{picture}" placeholder="File path or URL"/><br>

                <label for="role">Role:</label>
                <select id="role" th:field="*{role.id}" required>
                    <option value="">-- Choose a role --</option>
                    <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}"></option>
                </select><br><br>
                <div class="button-container">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>