<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>

<div>
    <div>

    </div>
</div>

<hr>

<div th:if="${user.tasks == null or user.tasks.isEmpty()}">
    <p>No tasks currently waiting for you!</p>
</div>

<div th:if="${user.tasks != null and !user.tasks.isEmpty()}">
    <h2>Your Tasks</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Time Budget (hrs)</th>
            <th>Time Taken (hrs)</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Subproject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${user.tasks}">
            <td th:text="${task.name}">Task Name</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${task.priorityLevel}">Priority</td>
            <td th:text="${task.timeBudget}">0</td>
            <td th:text="${task.timeTaken}">0</td>
            <td th:text="${task.deadline}">YYYY-MM-DD</td>
            <td th:text="${task.completed ? 'Completed' : 'In Progress'}">Status</td>
            <td th:text="${task.subProject.name}">Subproject Name</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
